@{
  Layout = "_Layout";
}

<h1>Job Experience</h1>
<h3>Add a new job:</h3>
<form action='/jobs' method='post'>
  <label for='new-employer'>Employer: </label>
  <input id='new-employer' name='new-employer' type='text'>

  <label for='new-position'>Position: </label>
  <input id='new-position' name='new-position' type='text'>

  <label for='new-address'>Address: </label>
  <input id='new-address' name='new-address' type='text'>

  <label for='new-experience'>Experience: </label>
  <input id='new-experience' name='new-experience' type='text'>

  <label for='new-wage'>Minimum Wage: </label>
  <input id='new-wage' name='new-wage' type='text'>

  <button type='submit'>Add User</button>
</form>
